<!--Input Field to add a Wish-->

<div class="wish-app">
    <div class="input-container">
        <input type="text" name="new-wish-name" placeholder="Add a new wish" [(ngModel)]="newWishName">
        <!-- Add a User to a Input-->
        <div>
            <div class="select-field-button">
                <select required class="select-button"
                        [(ngModel)]="selectedUser"
                        (ngModelChange)="printSelectedUserData($event)">
                    <option value="" disabled selected>User</option>
                    <option *ngFor="let user of users" [value]="user.userID">
                        {{ user.userID }}
                    </option>
                </select>
            </div>
        </div>
        <!--Button to add the Wish into the wishes-->
        <button
                type="submit"
                (click)="$event.preventDefault(); addNewWish()"
        >Add
        </button>
    </div>

    <p>Select Options:</p>
    <!-- Select Button to select only the unfulfilled, fulfilled or all wishes-->
    <div class="select-container">
        <div class="select-button-container">
            <select class="select-button" [(ngModel)]="listFilter">
                <option value="0">All</option>
                <option value="1">Unfulfilled</option>
                <option value="2">Fulfilled</option>
            </select>
        </div>
        <!-- Select Button to only select the Wished, for different users-->

        <div class="select-button-container">
            <select required class="select-button"
                    [(ngModel)]="filterByUser"
            >
                <option value="0">All Users</option>
                <option *ngFor="let user of users" [value]="user.userID">
                    {{ user.userID }}
                </option>
            </select>
        </div>
    </div>

    <!--If no wishes existing it should show the text: "There are no wishes to display-->
    <div class="container">
        <div *ngIf="items.length == 0; else showItems" class="no-wishes">
            There are no wishes to display
        </div>

        <!--All Items should get listed here-->
        <ng-template #showItems>
            <ul *ngIf="filteredItems.length != 0" class="wish-list">
                <li *ngFor="let item of filteredItems; index as ii" class="wish-list-item">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input
                                    class="checkbox"
                                    type="checkbox"
                                    [checked]="item.isComplete"
                                    [attr.data-index]="ii"
                                    (click)="toggleItem(item)">
                            <span class="wish-name">{{ item.wishName }}</span>
                            <span class="separator"></span>
                            <span class="writer">{{ item.writer }}</span>
                        </label>
                    </div>
                </li>
            </ul>
        </ng-template>


        <!--input field where you can sa, which wish should get deleted-->
        <div class="wish-app">
            <div class="input-container">
                <input type="text" name="delete-this-wish" placeholder="Delete a wish" [(ngModel)]="deletedWishName">
                <!-- Delete Button-->
                <button
                        type="submit"
                        (click)="$event.preventDefault(); deleteWish()"
                >Delete this wish
                </button>
            </div>
        </div>

        <!--Should say, that the wish you want to delete isn't existing-->
        <div *ngIf="deletedWishDoesNotExistString" class="error-message">
            {{ deletedWishDoesNotExistString }}
        </div>
    </div>
</div>

<router-outlet></router-outlet>
